.env
.env.*
volumes/db/
volumes/storage/
volumes/functions/
volumes/logs/
node_modules/
.pnpm-store/
.tmp-supabase/
.turbo/
.next/
dist/
*.log
.DS_Store
apps/studio/.next/
apps/studio/node_modules/
examples/

